footer {
	background-color: rgba(42, 36, 80, 0.80);
	box-shadow: 0 -4px 4px rgba(0,0,0,0.5);
	box-sizing: border-box;
	color: white;
	font-family: sans-serif;
	font-size: 0.813em;
	position: relative;
	width: 100%;

	@media (max-device-width: 767px) {
		font-size: 0.5em;
	}
}

.contents {
	align-items: flex-end;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: space-between;
	padding: 10px;
}

.main {
	font-size: larger;
}

.version {
	float: right;
	font-style: normal;
}
