:host {
	align-items: center;
	display: flex;
	flex-direction: column;
}

.header {
	align-items: flex-end;
	display: flex;
	justify-content: space-between;
	width: 100%;

	a {
		color: white;
		transition: color 0.5s linear;

		&:hover {
			color: lightblue;
		}
	}
}

.username {
	font-size: 1.313em;
	font-weight: 700;

	fa-icon {
		margin-right: 5px;
	}
}

.posts {
	border-top: 2px solid white;
	margin-top: 10px;
	width: 100%;
}

.posts:hover .post-row {
	opacity: 0.25;

	&:hover {
		opacity: 1;
	}
}

.post-row {
	align-items: center;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	color: white;
	padding: 10px;
	transition: opacity 0.5s linear;
	width: 100%;
}

.post-title {
	color: dodgerblue;
}

.post-date {
	font-size: 0.75em;
	font-style: italic;
}
