<section-title>Articles</section-title>
<div class="header">
	<div class="username">
		<a href="https://medium.com/@philipf5" target="_blank"><fa-icon [icon]="mediumIcon"></fa-icon>PhilipF5</a>
	</div>
	<div class="post-count" *ngIf="posts">{{ posts.length }} articles published</div>
</div>
<div class="posts" *ngIf="posts">
	<shadow-button *ngFor="let post of posts | slice: 0:5">
		<a [href]="post.link" target="_blank">
			<div class="post-row">
				<div class="post-title">{{ post.title }}</div>
				<div class="post-date">Posted: {{ post.publishDate | momentString: "MM/DD/YYYY" }}</div>
			</div>
		</a>
	</shadow-button>
</div>
<shadow-button class="view-all">
	<a href="https://medium.com/@philipf5" target="_blank">
		View all posts
	</a>
</shadow-button>
