<section-title>Blog</section-title>
<div *ngIf="!hasError" class="header">
	<div class="username">
		<a [href]="blogUrl" target="_blank">Philip's Tech Corner</a>
	</div>
	<div class="post-count" *ngIf="posts">{{ posts.length }} articles published</div>
</div>
<div class="posts" *ngIf="posts && !hasError">
	<shadow-button *ngFor="let post of (posts | async) | slice: 0:5">
		<a [href]="post.link" target="_blank">
			<div class="post-row">
				<div class="post-title">{{ post.title }}</div>
				<div class="post-date">Posted: {{ post.publishDate | formatDate: "yyyy-MM-dd" }}</div>
			</div>
		</a>
	</shadow-button>
</div>
<div class="error" *ngIf="hasError">
	{{ error }}
</div>
<shadow-button class="view-all">
	<a *ngIf="posts && !hasError" href="https://medium.com/@philipf5" target="_blank">
		More...
	</a>
	<a *ngIf="hasError" href="https://medium.com/@philipf5" target="_blank">
		View on <fa-icon [icon]="mediumIcon"></fa-icon> Medium
	</a>
</shadow-button>
