a {
	text-decoration: none;
}

header {
	&.mobile {
		position: relative;
		h1 {
			display: block;
			width: 100%;
			margin-top: 0;
			margin-bottom: 10px;
			padding-top: 10px;
			min-width: 100%;
			&:hover {
				transform: none !important;
			}
			a, a:visited {
				&:hover {
					text-shadow: none !important;
				}
			}
		}
		nav {
			width: 100%;
			min-width: 100%;
			margin-bottom: 10px;
			line-height: 2;
			a, a:visited {
				margin-left: 10px;
				margin-right: 10px;
				letter-spacing: 3px;
				.indicator {
					bottom: -5px;
				}
				&.active {
					.indicator {
						transform: translateY(-5px);
					}
				}
				&:hover {
					text-shadow: none !important;
				}
			}
		}
	}
	position: absolute;
	display: block;
	z-index: 999;
	margin: 0;
	width: 100%;
	top: 0;
	font-family: ff-dagny-web-pro;
	font-weight: 100;
	text-align: left;
	padding-top: 20px;
	padding-bottom: 20px;
	border-image: linear-gradient(to right, red 0%, orange 20%, yellow 40%, green 60%, blue 80%, violet 100%);
	border-image-slice: 0 0 1 0;
	border: 0;
	animation: 3s ease-out 1s 1 introHeader both;
	//background-image: linear-gradient(#FFFFFF 0%, #F8F8F8 95%, rgba(238,238,238,0) 100%), linear-gradient(to right, red 0%, orange 20%, yellow 40%, green 60%, blue 80%, violet 100%);
	&:before {
		//background-image: linear-gradient(#2D3031 0%, #2D3031 95%, rgba(238,238,238,0) 100%), linear-gradient(to right, red 0%, orange 20%, yellow 40%, green 60%, blue 80%, violet 100%);
		content: '';
		display: block;
		height: 100%;
		position: absolute;
		top: 0; left: 0;
		opacity: 0;
		width: 100%;
		z-index: -100;
		transition: opacity 0.5s linear;
	}
	h1 {
		display: inline-block;
		font-size: 20pt;
		font-weight: 100;
		height: 100%;
		max-width: 35%;
		min-width: 450px;
		margin: 0 0 0 30px;
		vertical-align: middle;
		transition: transform 0.5s ease-out;
		transform-origin: left;
		animation: 3s ease-in-out 1s 1 introTitle backwards;
		&:hover {
			transform: scale(1.1);
		}
		a, a:visited {
			transition: text-shadow 0.5s ease-out, color 0.5s linear;
			display: inline-block;
			height: 100%;
		}
		.separator {
			text-shadow: none !important;
			transition: color 0.5s linear;
		}
	}
	@keyframes introHeader {
		from {
			text-align: center;
		}
		to {
			text-align: left;
		}
	}
	@keyframes introTitle {
		from {
			transform: scale(2) translateX(42%) translateY(50%);
			margin: 0;
		}
		to {
			margin: 0 0 0 30px;
		}
	}
	nav {
		//display: inline-block;
		display: none;
		font-size: 16pt;
		width: 60%;
		min-width: 700px;
		vertical-align: middle;
		margin-top: 15px;
		margin-bottom: 15px;
		a, a:visited {
			display: inline-block;
			position: relative;
			margin-left: 30px;
			margin-right: 30px;
			letter-spacing: 10px;
			transition: text-shadow 0.5s linear, color 0.5s linear;
			.indicator {
				opacity: 0;
				visibility: hidden;
				position: absolute;
				left: 50%;
				margin-left: -10px;
				bottom: -42px;
				width: 0;
				height: 0;
				border-left: 5px solid transparent;
				border-right: 5px solid transparent;
				border-bottom-width: 8.66px;
				border-bottom-style: solid;
				transition: all 0.5s linear;
			}
			&.active {
				.indicator {
					opacity: 1;
					transform: translateY(-20px);
					visibility: visible;
				}
			}
		}
	}
	&.light {
		h1 {
			a, a:visited {
				color: black;
				&:hover {
					text-shadow: 0.2em 0.2em 0.2em rgba(0,0,0,0.5);
				}
			}
			.separator {
				color: #F0F0F0;
			}
		}
		nav {
			a, a:visited {
				color: black;
				text-shadow: 0 0 45px rgba(0,0,0,0), 0 0 45px rgba(0,0,0,0);
				&:hover {
					//color: white;
					text-shadow: 0 0 4px rgba(0,0,0,1), 0 0 4px rgba(0,0,0,1);
				}
				.indicator {
					border-bottom-color: black;
					filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5));
				}
			}
		}
	}
	&.dark {
		&:before {
			opacity: 1;
		}
		h1 {
			a, a:visited {
				color: white;
				&:hover {
					text-shadow: 0.2em 0.2em 0.2em rgba(0,0,0,0.5);
				}
			}
			.separator {
				color: darkgray;
			}
		}
		nav {
			a, a:visited {
				color: white;
				text-shadow: 0 0 45px rgba(255,255,255,0), 0 0 45px rgba(255,255,255,0);
				&:hover {
					//color: black;
					text-shadow: 0 0 4px rgba(255,255,255,1), 0 0 4px rgba(255,255,255,1);
				}
				.indicator {
					border-bottom-color: white;
					filter: drop-shadow(0 0 2px white) blur(1px);
				}
			}
		}
	}
}