a {
	text-decoration: none;
}

header {
	position: absolute;
	display: block;
	z-index: 999;
	margin: 0;
	width: 100%;
	top: 0;
	font-family: ff-dagny-web-pro;
	font-weight: 100;
	text-align: left;
	padding-top: 20px;
	padding-bottom: 20px;
	h1 {
		display: inline-block;
		font-size: 20pt;
		font-weight: 100;
		height: 100%;
		max-width: 35%;
		min-width: 450px;
		margin: 0 0 0 30px;
		vertical-align: middle;
		transition: transform 0.5s ease-out;
		transform-origin: left;
		animation: 3s ease-in-out 1s 1 introTitle backwards;
		&:hover {
			transform: scale(1.1);
			text-shadow: 0.2em 0.2em 0.2em rgba(0,0,0,0.5);
		}
		a, a:visited {
			transition: text-shadow 0.5s ease-out, color 0.5s linear;
			display: inline-block;
			height: 100%;
			color: white;
		}
		.separator {
			text-shadow: none !important;
			transition: color 0.5s linear;
			color: darkgray;
		}
	}
	@keyframes introTitle {
		from {
			transform: scale(2) translateX(42%) translateY(50%);
			margin: 0;
		}
		to {
			margin: 0 0 0 30px;
		}
	}
}