<header *isDesktop class="{{this.themeService.theme}}">
    <h1><a routerLink="">PHILIP <span class="separator">|</span> FULGHAM</a></h1>
    <nav>
        <a routerLink="/bio" routerLinkActive="active">BIO<div class="indicator"></div></a>
        <a routerLink="/portfolio" routerLinkActive="active">WORK<div class="indicator"></div></a>
        <a routerLink="/skills" routerLinkActive="active">SKILLS<div class="indicator"></div></a>
    </nav>
</header>
<header *showItDevice="['mobile', 'tablet']" class="{{this.themeService.theme}} mobile">
    <h1><a routerLink="">PHILIP <span class="separator">|</span> FULGHAM</a></h1>
    <nav>
        <a routerLink="/bio" routerLinkActive="active">BIO<div class="indicator"></div></a>
        <a routerLink="/portfolio" routerLinkActive="active">WORK<div class="indicator"></div></a>
        <a routerLink="/skills" routerLinkActive="active">SKILLS<div class="indicator"></div></a>
    </nav>
</header>