footer {
	display: block;
	width: auto;
	padding: 10px;
	font-style: italic;
	font-size: 10pt;
	font-family: sans-serif;
	text-align: center;
	position: relative;
	bottom: 0;
	transition: background 0.5s linear, color 0.5s linear;
	background-color: #2D3031;
	box-shadow: 0 -4px 4px rgba(0,0,0,0.5);
	color: white;
	a, a:visited {
		color: dodgerblue;
		transition: color 0.5s linear;
		text-decoration: none;
		&:hover {
			color: lightblue;
		}
	}
}