<footer *isDesktop>
	&copy; 2008-{{year}} Philip Fulgham. All rights reserved.<br>
	All logos are the properties of their respective owners.<br>
	This website is built in <a href="https://angular.io">Angular</a> with <a href="https://www.typescriptlang.org">TypeScript</a>.
	Source code available on <a href="https://github.com/PhilipF5/personal-website">GitHub</a>.
</footer>
<footer *showItDevice="['mobile', 'tablet']" class="mobile">
	&copy; 2008-{{year}} Philip Fulgham. All rights reserved unless otherwise specified.
</footer>