footer {
	&.mobile {
		position: relative;
		width: auto;
	}
	display: block;
	width: 100%;
	padding: 10px;
	font-style: italic;
	font-size: 10pt;
	font-family: sans-serif;
	text-align: center;
	position: fixed;
	bottom: 0;
	transition: background 0.5s linear, color 0.5s linear;
	.theme {
		#light, #dark {
			color: dodgerblue;
			transition: color 0.5s linear;
			cursor: pointer;
		}
		#light:hover {
			color: lightblue;
		}
		#dark:hover {
			color: darkblue;
		}
	}
	&.light {
		background-color: white;
		box-shadow: 0 -4px 4px rgba(0,0,0,0.5);
		color: black;
	}
	&.dark {
		background-color: #2D3031;
		box-shadow: 0 -4px 4px rgba(0,0,0,0.5);
		color: white;
	}
	.theme {
		display: inline-block;
		position: absolute;
		right: 35px;
		text-align: right;
		a, a:visited {
			text-decoration: none;
		}
	}
}