<section-title>Code</section-title>
<div *ngIf="!(error$ | async)" class="header">
	<div class="username">
		<a [href]="profileUrl" target="_blank">
			<fa-icon [icon]="githubIcon"></fa-icon>
			{{ username }}
		</a>
	</div>
	<div class="repo-count" *ngIf="(repos$ | async) as repos">{{ repos.length }} public repos</div>
</div>
<div *ngIf="(languages$ | async) as languages" class="languages">
	<div>Top languages:</div>
	<div class="lang-icons">
		<img *ngFor="let lang of (languages | slice: 0:3)" [src]="lang.skill.icon" [alt]="lang" />
	</div>
</div>
<div class="repos" *ngIf="(repos$ | async) as repos">
	<shadow-button *ngFor="let repo of (repos | slice: 0:5)">
		<a [href]="repo.url" target="_blank">
			<div class="repo-row">
				<div class="name-and-date">
					<div class="repo-name">{{ repo.name }}</div>
					<div class="repo-date">Updated on {{ repo.lastPushed | formatDate: "MMMM d" }}</div>
				</div>
				<div class="icon">
					<img *ngIf="repo.project" [src]="repo.project.platform.icon" [alt]="repo.project?.platform.name" />
				</div>
			</div>
		</a>
	</shadow-button>
</div>
<error *ngIf="(error$ | async)">Unable to load repos</error>
<shadow-button class="view-all">
	<a *ngIf="!(error$ | async)" [href]="profileUrl + '/?tab=repositories'" target="_blank">
		More...
	</a>
	<a *ngIf="(error$ | async)" [href]="profileUrl + '/?tab=repositories'" target="_blank">
		View on
		<fa-icon [icon]="githubIcon"></fa-icon>
		GitHub
	</a>
</shadow-button>
