:host {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	width: 70%;

	@media (max-device-width: 767px) {
		width: 95%;
	}

	@media (min-device-width: 701px) and (orientation: portrait) {
		width: 85%;
	}
}

arrow {
	bottom: 10px;
	cursor: pointer;
	left: 50%;
	opacity: 0;
	position: absolute;
	transform: translateX(-50%);
}

.quote {
	height: auto;
	text-align: center;

	.byline {
		color: white;
		font-family: "Ubuntu";
		font-size: 2rem;
		font-style: italic;
		opacity: 0;
		text-align: right;
	}

	.quote-text {
		color: white;
		font-family: "Ubuntu";
		font-size: 4.5rem;
		opacity: 0;
		text-align: center;

		@media (max-device-width: 767px), (max-device-height: 1000px) and (orientation: portrait) {
			font-size: 2rem;
		}

		@media (min-device-height: 1001px) and (max-device-height: 1040px) and (orientation: portrait) {
			font-size: 3rem;
		}

		@media (min-device-width: 701px) and (max-device-width: 1040px) and (max-device-height: 1025px) and (orientation: landscape) {
			font-size: 3.5rem;
		}
	}
}
