.title {
	align-items: center;
	display: flex;
	font-family: "Ubuntu";
	font-size: 1.875rem;
	justify-content: center;
	margin-bottom: 10px;
	text-align: center;
	text-shadow: 0 0 7px rgb(255, 255, 255);
	text-transform: uppercase;

	&.expandable {
		.clickable {
			cursor: pointer;
			position: relative;
			transition: text-shadow 0.5s linear;

			&:hover {
				text-shadow: 0 0 7px rgb(255, 48, 255), 0 0 7px rgb(255, 48, 255);
			}
		}
	}

	arrow {
		bottom: 0;
		position: absolute;
		right: -30px;
		transform: translateY(-0.1em);
	}
}
