:host {
	align-items: center;
	border-radius: 5px;
	color: dodgerblue;
	cursor: pointer;
	display: flex;
	justify-content: center;
	transition: background-color 0.5s linear,
		box-shadow 0.5s linear,
		color 0.5s linear,
		opacity 0.5s linear,
		transform 0.5s linear;

	&:hover {
		background-color: rgba(0, 0, 0, 0.5);
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
		color: lightskyblue;
		transform: scale(1.1);
	}

	/deep/ a:visited {
		color: dodgerblue;
	}
}
