.details {
	display: flex;
	flex-direction: column;
	margin: 7.5px 0 7.5px 25px;
	text-align: left;

	@media (max-device-width: 700px) {
		text-align: center;
	}

	.name {
		font-size: 1.125em;
		font-weight: bold;
	}

	.subtitle {
		font-size: 1em;
	}

	.place {
		transition: color 0.5s linear;
	}
}

.org-link:hover ~ .details .place {
	color: lightblue;
}
