.content {
	.container {
		background-color: #21207D;
		.github, .work, .edu {
			width: 30%;
			display: inline-block;
			vertical-align: top;
			height: 100%;
		}
		#github-card {
			margin-left: auto;
			margin-right: auto;
		}
		img {
			width: 75px;
			height: auto;
			display: inline-block;
			vertical-align: middle;
		}
		.job {
			ul {
				list-style-type: none;
			}
		}
		.details {
			text-align: left;
			display: inline-block;
			vertical-align: middle;
			.company, .school {
				font-weight: bold;
				font-size: 16pt;
			}
			.role, .cert {
				font-size: 14pt;
			}
			.duration, .time {
				font-size: 12pt;
			}
		}
	}
}