.content {
	.container {
		background-color: rgba(20, 17, 38, 0.80);
		#github-card {
			margin-left: auto;
			margin-right: auto;
		}
		img {
			display: inline-block;
			filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
			height: auto;
			vertical-align: middle;
			width: 75px;
			@media (min-device-width: 701px) and (max-device-width: 1000px) and (orientation: landscape) {
				width: 50px;
			}
		}
		.details {
			display: inline-block;
			text-align: left;
			vertical-align: middle;
			.company, .school {
				font-size: 1.313em;
				font-weight: bold;
			}
			.role, .cert {
				font-size: 1.125em;
			}
			.duration, .time {
				font-size: 1em;
			}
		}
		.github, .work, .edu {
			display: inline-block;
			height: 100%;
			vertical-align: top;
			width: 30%;
			@media (max-device-width: 700px) {
				margin-bottom: 20px;
				width: 95%;
			}
			@media (min-device-width: 701px) and (max-device-width: 1000px) {
				margin-bottom: 20px;
				width: 45%;
			}
		}
		.github {
			@media (min-device-width: 701px) and (max-device-width: 1000px) {
				width: 95%;
			}
		}
		.job {
			ul {
				list-style-position: inside;
				list-style-type: none;
				padding-left: 0;
				@media (min-device-width: 701px) and (max-device-width: 1000px) {
					list-style-type: square;
					text-align: left;
				}
			}
		}
	}
}
