svg {
	height: 10px;
	transform: translateX(-50%);
	transform-origin: bottom center;
	width: 25px;

	polyline {
		fill: none;
		stroke: white;
		stroke-linecap: round;
		stroke-linejoin: round;
		stroke-width: 1;
	}
}
