svg {
	bottom: 10px;
	height: 40px;
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
	width: 100px;

	&:hover {
		polyline {
			stroke-width: 3;
		}
	}

	polyline {
		animation: 4s ease-in-out 7s arrow backwards;
		fill: none;
		stroke: white;
		stroke-linecap: round;
		stroke-linejoin: round;
		stroke-width: 1;
		transition: stroke-width 0.5s ease-in-out;
	}
}
