<div class="name" *ngIf="user">{{ user.name }}</div>
<a *ngIf="user" [href]="user.html_url">
	<div class="follow-link">
		Follow @{{ user.login }}
	</div>
</a>
<div class="repos" *ngIf="repos">
	<a *ngFor="let repo of repos" [href]="repo.html_url">
		<div class="repo-row">
			<div class="name-and-date">
				<div class="repo-name">{{ repo.name }}</div>
				<div class="repo-date">Updated: {{ repo.pushed_at | momentString: "M/DD/YYYY" }}</div>
			</div>
			<div class="icon">
				<img [src]="getIconLink(repo.icon)" alt="{{repo.icon}}">
			</div>
		</div>
	</a>
</div>
