<section-title>Projects</section-title>
<div class="header">
	<div class="username">
		<a [href]="profileUrl" target="_blank"><fa-icon [icon]="githubIcon"></fa-icon>{{ username }}</a>
	</div>
	<div class="repo-count" *ngIf="repos">{{ repos.length }} public repos</div>
</div>
<div *ngIf="repos && !hasError" class="languages">
	<div>Top languages:</div>
	<div class="lang-icons">
		<img *ngFor="let lang of languages" [src]="getIconLink(lang)" [alt]="lang">
	</div>
</div>
<div class="repos" *ngIf="repos && !hasError">
	<shadow-button *ngFor="let repo of repos | slice: 0:5">
		<a [href]="repo.url" target="_blank">
			<div class="repo-row">
				<div class="name-and-date">
					<div class="repo-name">{{ repo.name }}</div>
					<div class="repo-date">Updated: {{ repo.lastPushed | momentString: "M/DD/YYYY" }}</div>
				</div>
				<div class="icon">
					<img [src]="getIconLink(repo.icon)" [alt]="repo.icon">
				</div>
			</div>
		</a>
	</shadow-button>
</div>
<shadow-button class="view-all">
	<a [href]="profileUrl + '/?tab=repositories'" target="_blank">
		More...
	</a>
</shadow-button>
<div class="error" *ngIf="hasError">
	Couldn't load content
</div>
