<div class="profile">
	<div class="portrait">
		<img *ngIf="photoUrl" [src]="photoUrl">
	</div>
	<div class="text" *ngIf="paragraphs">
		<section-title>About Me</section-title>
		<p *ngFor="let p of paragraphs">{{ p }}</p>
	</div>
</div>
<section-title [expandable]="true" (expand)="toggleFavorites()">Favorite Things</section-title>
<div class="favorites" collapsible>
	<favorites-list category="game" title="Games"></favorites-list>
	<favorites-list category="show" title="TV Shows"></favorites-list>
	<favorites-list category="tool" title="Software"></favorites-list>
</div>
