.content {
	.container {
		background-color: #1E1247;
		.footnote {
			font-family: sans-serif;
			font-size: 0.813em;
			font-style: italic;
			margin-top: 20px;
			text-align: center;
			width: 100%;
			.glow {
				text-shadow: 0 0 7px rgb(255, 48, 255),
				0 0 7px rgb(255, 48, 255),
				0 0 7px rgb(255, 48, 255),
				0 0 7px rgb(255, 48, 255);
			}
		}
		.list {
			font-family: ff-dagny-web-pro;
			font-size: 1.125em;
			list-style-type: none;
			text-align: center;
			.skill {
				border-radius: 20px;
				display: inline-block;
				line-height: 50px;
				margin: 30px;
				width: 200px;
				@media (max-device-width: 1024px) {
					margin: 5px;
					width: 45%;
				}
				&.active {
					text-shadow: 0 0 14px rgb(255, 48, 255),
					0 0 14px rgb(255, 48, 255),
					0 0 14px rgb(255, 48, 255),
					0 0 14px rgb(255, 48, 255);
				}
			}
		}
	}
}
