.content {
	.container {
		background-color: #3C3587;
		padding: 25px 0 75px 0;
		text-align: center;
		img {
			border-radius: 5px;
			box-shadow: 15px 15px 15px rgba(0,0,0,0.5);
			display: inline-block;
			height: auto;
			margin: 50px;
			transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
			width: 350px;
			&:hover {
				box-shadow: 0 0 15px 15px rgba(0,0,0,0.5);
				transform: scale(2);
			}
		}
	}
}
