.content {
	.container {
		background-color: rgba(47, 33, 137, 0.8);
		padding: 25px 0 125px 0;
		text-align: center;
		img {
			border-radius: 5px;
			box-shadow: 0 0 10px rgba(255, 255, 255, 0.5),
			0 0 10px rgba(255, 255, 255, 0.5),
			0 0 10px rgba(255, 255, 255, 0.5),
			0 0 10px rgba(255, 255, 255, 0.5),
			15px 15px 15px rgba(0,0,0,0.5);
			display: inline-block;
			height: auto;
			margin: 50px;
			transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
			width: 350px;
			@media (max-device-width: 700px) {
				margin: 50px 0 50px 0;
			}
			@media (max-device-width: 700px) and (orientation: landscape) {
				width: 75%;
			}
			@media (max-device-width: 700px) and (orientation: portrait) {
				width: 95%;
			}
			@media (min-device-width: 701px) {
				&:hover {
					box-shadow: 30px 30px 15px rgba(0,0,0,0.5),
					0 0 5px 5px rgba(0, 0, 0, 0.5);
					transform: scale(2);
				}
			}
			@media (min-device-width: 701px) and (max-device-width: 1000px) and (orientation: landscape) {
				&:nth-child(even) {
					transform-origin: left center;
					&:last-child {
						transform-origin: center center;
					}
				}
				&:nth-child(odd) {
					transform-origin: right center;
				}
			}
		}
	}
}
