h1 {
	display: none;
}
img {
	width: 100%;
	height: auto;
	position: fixed;
	z-index: -999;
	animation: 6s ease-in-out 2s 1 intro backwards;
}
@keyframes intro {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
