:host {
	align-items: center;
	display: flex;
	justify-content: center;

	@media (max-device-width: 700px) {
		flex-direction: column;
	}
}

img {
	filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
	height: auto;
	width: 75px;
	@media (min-device-width: 701px) and (max-device-width: 1000px) and (orientation: landscape) {
		width: 50px;
	}
}

.details {
	display: flex;
	flex-direction: column;
	text-align: left;

	@media (max-device-width: 700px) {
		text-align: center;
	}

	.place {
		font-size: 1.25em;
		font-weight: bold;
	}

	.name {
		font-size: 1.125em;
	}

	.subtitle {
		font-size: 1em;
	}
}
