.content {
	.container {
		height: 350px;
		background-image: url("../../assets/black_linen_v2_@2X.png");
		.portrait {
			width: 20%;
			display: inline-block;
			border-right-style: inset;
			border-right-width: 2px;
			height: 100%;
			vertical-align: middle;
			img {
				display: block;
				margin: auto auto auto auto;
				position: relative;
				top: 50%;
				transform: translateY(-50%);
				width: 150px;
				filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.5));
			}
		}
		.text {
			width: 70%;
			height: 100%;
			display: inline-block;
			text-align: left;
			font-family: freight-sans-pro;
			font-size: 14pt;
			vertical-align: middle;
			margin-left: 5%;
			a, a:visited {
				cursor: pointer;
				position: relative;
				transition: color 0.5s linear;
				color: dodgerblue;
				div {
					position: absolute;
					width: 220px;
					left: 50%;
					top: 15px;
					margin-left: -110px;
					text-align: center;
					border-radius: 10px;
					opacity: 0;
					z-index: 4;
					visibility: hidden;
					transition: opacity 0.5s linear, transform 0.5s linear, visibility 0.5s linear;
					color: white;
					background-color: rgba(0,0,0,0.8);
					ul {
						list-style-type: none;
						font-style: italic;
						padding: 0;
					}
				}
				&:hover{
					color: lightblue;
					div {
						opacity: 1;
						visibility: visible;
						transform: translateY(10px);
					}
				}
			}
		}
	}
}