@keyframes appear {
	0% {
		opacity: 0;
		transform: translateX(-5%);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

div {
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	div {
		display: inline-block;
		position: relative;
		text-align: center;
		top: 75%;
		transform: translateY(-50%);
		width: 100%;
	}
	.byline {
		animation: 3s ease-out 3.5s 1 appear both;
		color: white;
		font-family: "Avenir";
		font-size: 26pt;
		font-style: italic;
		text-align: right;
	}
	.quote {
		animation: 3s ease-out 1.5s 1 appear backwards;
		color: white;
		font-family: "Futura";
		font-size: 46pt;
		text-align: center;
		&:after {
			animation: 2s ease-out 4.5s 1 appear both;
			color: white;
			content: "”";
			font-family: "Baskerville";
			font-size: 90pt;
			font-weight: 600;
			position: absolute;
			right: 20px;
			top: 250px;
		}
		&:before {
			animation: 2s ease-out 4.5s 1 appear both;
			color: white;
			content: "“";
			font-family: "Baskerville";
			font-size: 90pt;
			font-weight: 600;
			left: 20px;
			position: absolute;
			top: 20px;
		}
	}
}
