<div class="header">
	<div class="username">
		<a href="https://github.com/PhilipF5" target="_blank">@PhilipF5</a>
	</div>
	<div class="repo-count">{{ publicRepoCount }} public repos</div>
</div>
<!-- TODO bring back top languages display after stack update -->
<div class="repos" *ngIf="repos && !hasError">
	<shadow-button *ngFor="let repo of repos | slice: 0 : displayCount">
		<a [href]="repo.html_url" target="_blank">
			<div class="repo-row">
				<div class="name-and-date">
					<div class="repo-name">{{ repo.name }}</div>
					<div class="repo-date">Updated: {{ repo.pushed_at | momentString: "M/DD/YYYY" }}</div>
				</div>
				<div class="icon">
					<img [src]="getIconLink(repo.icon)" [alt]="repo.icon">
				</div>
			</div>
		</a>
	</shadow-button>
</div>
<div class="error" *ngIf="hasError">
	Couldn't load content
</div>
