<pf-section-title>About Me</pf-section-title>
<div class="profile">
	<div class="portrait">
		<img src="assets/portrait.png" alt="Profile photo" />
	</div>
	<div class="text" *ngIf="(bio$ | async) as bio" [innerHTML]="bio"></div>
	<pf-error *ngIf="(error$ | async)">Unable to load bio</pf-error>
</div>
<pf-section-title *ngIf="!(error$ | async)" [expandable]="true" (expand)="toggleFavorites()">
	Favorite Things
</pf-section-title>
<div class="favorites" *ngIf="(favorites$ | async) as favorites" collapsible>
	<pf-favorites-list [items]="favorites.game" title="Games"></pf-favorites-list>
	<pf-favorites-list [items]="favorites.show" title="TV Shows"></pf-favorites-list>
	<pf-favorites-list [items]="favorites.tool" title="Software"></pf-favorites-list>
</div>
