<ng-container *ngIf="(projects$ | async) as projects">
	<div class="items" #items>
		<div
			class="item"
			*ngFor="let p of (projects | slice: firstProjectIndex:lastProjectIndex)"
			[ngClass]="{ selected: selectedProject === p }"
		>
			<pf-shadow-button>
				<pf-projects-selector-item [project]="p" (click)="selectProject(p)"></pf-projects-selector-item>
			</pf-shadow-button>
		</div>
	</div>
	<div class="controls">
		<pf-glass-button (click)="onPageUp()"><pf-arrow class="up"></pf-arrow></pf-glass-button>
		<pf-glass-button (click)="onPageDown(projects.length)"><pf-arrow></pf-arrow></pf-glass-button>
	</div>
</ng-container>
