:host {
	border-right: 3px groove #222222;
}

.project {
	cursor: pointer;
	height: 52px;
	justify-content: flex-start;
	padding: 10px;

	&:hover {
		background-color: rgba(255, 255, 255, 0.05);
	}
}
