/* You can add global styles to this file, and also import other style files */
@import url("https://use.typekit.net/oub3voo.css");

html, body {
	height: 100%;
	margin: 0;
	&.mobile {
		width: 100%;
	}
}

body {
	background-color: black;
	transition: background 0.5s linear;
}

a {
	text-decoration: none;
}

.page-section {
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
	color: white;
	display: flex;
	flex-direction: column;
	font-family: ff-dagny-web-pro;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	padding: 25px 0 25px 0;
	width: 100%;
}

.content {
	//min-height: 100%;
	//padding-top: 150px;
	//padding-bottom: 50px;
	text-align: center;
	transition: background 0.5s linear;
	&.mobile {
		padding-bottom: 20px;
		padding-top: 20px;
		width: 100%;
	}
}

.gh-profile-card {
	background: none;
	font-family: ff-dagny-web-pro;
	overflow: hidden;
	width: 280px;
	a {
		color: #FFFFFF;
		text-decoration: none !important;
	}
	.avatar {
		border-radius: 5px;
		box-shadow: 0 0 2px 0 #DDDDDD;
		display: none;
		float: left;
		height: 64px;
		margin: 0 10px 15px 0;
		width: 64px;
	}
	.error {
		color: #444444;
		padding: 10px;
		span {
			display: block;
			margin-bottom: 5px;
			padding-bottom: 5px;
			&.remain {
				font-weight: 700;
				text-align: center;
			}
		}
	}
	.follow-button {
		border: 1px solid #D5D5D5;
		border-radius: 3px;
		color: #FFFFFF;
		cursor: pointer;
		font-weight: 700;
		line-height: 1.5em;
		padding: 0 10px;
		transition: box-shadow 0.5s linear;
		&:hover {
			//background-color: lightblue;
			box-shadow: 0 0 7px rgba(255, 255, 255, 0.5),
			0 0 7px rgba(255, 255, 255, 0.5),
			0 0 7px rgba(255, 255, 255, 0.5),
			0 0 7px rgba(255, 255, 255, 0.5),
			0 0 7px rgba(255, 255, 255, 0.5) inset,
			0 0 7px rgba(255, 255, 255, 0.5) inset,
			0 0 7px rgba(255, 255, 255, 0.5) inset,
			0 0 7px rgba(255, 255, 255, 0.5) inset;
			color: inherit;
		}
	}
	.followMe {
		margin-bottom: 20px;
		margin-top: 3px;
		span {
			border: 1px solid #FFFFFF;
			color: #FFFFFF;
			margin-left: 8px;
			padding: 0 5px;
			position: relative;
			&::before {
				background: inherit;
				border-color: inherit;
				border-left: 1px solid;
				border-top: 1px solid;
				display: block;
				height: 5px;
				left: -4px;
				position: absolute;
				top: 30%;
				transform: rotate(-45deg);
				width: 5px;
			}
		}
	}
	.followMe span::before, .languages li:last-child::after {
		content: "";
	}
	.languages {
		clear: both;
		margin: 0 -10px;
		padding: 10px;
		position: relative;
		li {
			color: #FFFFFF;
			display: inline-block;
			font-weight: 700;
			margin-left: 10px;
			&::after {
				color: #FFFFFF;
				content: "\2022";
				margin-left: 10px;
			}
		}
	}
	.name {
		color: #FFFFFF;
		cursor: pointer;
		display: block;
		font-size: 1.313em;
		font-weight: 700;
		transition: color 0.5s linear;
		&:hover {
			color: lightblue;
		}
	}
	.profile {
		border-bottom-style: inset;
		border-bottom-width: 2px;
		min-height: 100px;
		overflow: hidden;
	}
	.repos {
		clear: both;
		a {
			cursor: pointer;
			display: block;
			float: left;
			padding: 7px 0;
			position: relative;
			width: 100%;
			&:first-of-type {
				border: none;
			}
			&:hover {
				.repo-name {
					color: lightblue;
				}
			}
			.repo-name {
				color: dodgerblue;
				font-weight: 700;
				max-width: 280px;
				text-overflow: ellipsis;
				transition: color 0.5s linear;
			}
			.star {
				bottom: 50%;
				color: #FFFFFF;
				display: none;
				float: right;
				font-size: 0.9em;
				position: absolute;
				right: 10%;
				transform: translateY(50%);
				&::after {
					content: "\a0\2605";
					font-size: 1.1em;
					font-weight: 700;
				}
			}
			.updated {
				color: #FFFFFF;
				display: block;
				font-size: 0.75em;
				font-style: italic;
			}
		}
		.header {
			color: #FFFFFF;
			display: block;
			font-size: 1.1em;
			font-weight: 700;
			padding: 5px 0;
			width: 100%;
		}
	}
	.languages {
		padding: 5px;
		&::before {
			color: #FFFFFF;
			content: "Top languages";
			font-style: italic;
			left: 50%;
			position: absolute;
			top: -1em;
			transform: translateX(-50%);
		}
	}
}

.title {
	display: block;
	font-family: estilo-regular;
	font-size: 1.875rem;
	margin-bottom: 10px;
	text-align: center;
	text-shadow: 0 0 7px rgb(255, 255, 255);
	text-transform: uppercase;
}
