:host {
	align-items: center;
	box-sizing: border-box;
	display: flex;
	font-family: "Ubuntu Condensed";
	font-weight: 100;
	height: 100px;
	left: 0;
	padding: 20px 40px;
	position: absolute;
	text-align: left;
	top: 0;
	width: 100%;
	z-index: 999;
}

h1 {
	font-size: 1.625em;
	font-weight: 100;

	@media (min-device-height: 1040px) {
		font-size: 2em;
	}

	a, a:visited {
		color: white;
		transition: text-shadow 0.5s ease-out, color 0.5s linear;
	}

	.separator {
		color: darkgray;
		text-shadow: none !important;
		transition: color 0.5s linear;
	}
}
