.header {
	display: grid;
	grid-template-columns: 50px auto;
	width: 300px;
}

.img-container {
	background-color: white;
	border-radius: 5px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
	height: 25px;
	overflow: hidden;
	place-self: center center;
	width: 25px;

	img {
		height: 100%;
		object-fit: contain;
		object-position: center center;
		width: 100%;
	}
}

.org-name {
	align-self: center;
	font-size: 1.125em;
	font-weight: bold;
}
